<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

    <div th:fragment="header">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html">Envia Pra Mim</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="index.html">Cadastrar no Estoque</a></li>
                    <li><a href="../queryProducts.html">Consultar o Estoque</a></li>
                    <li><a href="#">Anunciar</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Registrar-se</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
        </nav>
    </div>

</body>
</html>