<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="products">

    <!-- <img id="test-history-loading" src="../../img/loading.gif" alt="Loading..."
         style="display: none; margin-left: auto; margin-right: auto"/> -->

    <div th:if="${products} != null and !${#lists.isEmpty(products)}" id="products-table" class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>SKU</th>
                <th>T&iacute;tulo</th>
                <th>Descri&ccedil;&atilde;o</th>
                <th>Quantidade</th>
                <th>Custo</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="product : ${products}">
                    <td th:text="${product.sku}">SKU</td>
                    <td th:text="${product.title}">T&iacute;tulo</td>
                    <td th:text="${product.description}">Descri&ccedil;&atilde;o</td>
                    <td th:text="${product.quantity}">Quantidade</td>
                    <td th:text="${product.cost}">Custo</td>
                    <td><button th:id="'update_' + ${product.sku}" type="button" class="btn btn-info update-btn">Alterar</button></td>
                    <td><button th:id="'delete_' + ${product.sku}" type="button" th:onclick="'deleteNow(\'' + ${product.sku} + '\');'" class="btn btn-danger delete-btn">Deletar</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div th:unless="${products} != null and !${#lists.isEmpty(products)}">
        Nenhum produto foi encontrado
    </div>
</div>

</html>