<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="products">

    <!-- <img id="test-history-loading" src="../../img/loading.gif" alt="Loading..."
         style="display: none; margin-left: auto; margin-right: auto"/> -->

    <div th:if="${products} != null and !${#lists.isEmpty(products)}" id="products-table" class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>SKU</th>
                <th>T&iacute;tulo</th>
                <th>Descri&ccedil;&atilde;o</th>
                <th>Quantidade</th>
                <th>Custo</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="product : ${products}">
                    <td th:text="${product.sku}">SKU</td>
                    <td th:text="${product.title}">T&iacute;tulo</td>
                    <td th:text="${product.description}">Descri&ccedil;&atilde;o</td>
                    <td th:text="${product.quantity}">Quantidade</td>
                    <td th:text="${product.cost}">Custo</td>
<!--
                <td th:if="${t.failedScene.errorMessage} == null and ${t.failedScene.stackTrace} == null"
                    th:text="${t.result}">Result
                </td>
                <td th:unless="${t.failedScene.errorMessage} == null and ${t.failedScene.stackTrace} == null">
                    <a class="show-fail-modal" data-toggle="modal" data-target="#fail-modal"
                       th:text="${t.result}">Result</a>
                    <div id="error-message" style="display: none;"
                         th:text="${t.failedScene.errorMessage}"></div>
                    <div id="stack-trace" style="display: none;" th:text="${t.failedScene.stackTrace}"></div>
                </td>
                <td th:text="${t.startTime}">Start Time</td>
                <td th:text="${t.endTime}">End Time</td>-->
                </tr>
            </tbody>
        </table>
    </div>
    <div th:unless="${products} != null and !${#lists.isEmpty(products)}">
        Nenhum produto foi encontrado
    </div>
</div>

</html>