<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="products">

    <!-- <img id="test-history-loading" src="../../img/loading.gif" alt="Loading..."
         style="display: none; margin-left: auto; margin-right: auto"/> -->

    <div th:if="${products} != null and !${#lists.isEmpty(products)}" id="products-table" class="table-responsive">
        <table class="table table-striped" id="products-table-content">
            <thead>
            <tr>
                <th><input type="checkbox" id="select-all"></input></th>
                <th>SKU</th>
                <th>T&iacute;tulo</th>
                <th>Descri&ccedil;&atilde;o</th>
                <th>Quantidade</th>
                <th>Custo</th>
            </tr>
            </thead>
            <tbody>
                <tr class="clickable-row" th:each="product : ${products}">
                    <td><img th:src="${product.thumbnail}" style="width:80px;height:80px;"/></td>
                    <td th:text="${product.sku}" style="font-weight:bold;">SKU</td>
                    <td><input th:id="'title_' + ${product.sku}" th:value="${product.title}" type="text" class="form-control" name="title"/></td>
                    <td><input th:id="'description_' + ${product.sku}" th:value="${product.description}" type="text" class="form-control" name="description"/></td>
                    <td><input th:id="'quantity_' + ${product.sku}" th:value="${product.quantity}" type="text" class="form-control" name="quantity"/></td>
                    <td><input th:id="'cost_' + ${product.sku}" th:value="${product.cost}" type="text" class="form-control" name="cost"/></td>
                    <td><button th:id="'update_' + ${product.sku}" type="button" th:onclick="'updateNow(\'' + ${product.sku} + '\');'" class="btn btn-info update-btn">Alterar</button></td>
                    <td><button th:id="'delete_' + ${product.sku}" type="button" th:onclick="'deleteNow(\'' + ${product.sku} + '\');'" class="btn btn-danger delete-btn">Deletar</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div th:unless="${products} != null and !${#lists.isEmpty(products)}">
        Nenhum produto foi encontrado
    </div>
</div>

<div th:fragment="usermldata">

    <!-- <img id="test-history-loading" src="../../img/loading.gif" alt="Loading..."
         style="display: none; margin-left: auto; margin-right: auto"/> -->

    <div th:if="${usermldata} != null and !${#lists.isEmpty(usermldata)}" id="usermldata-table" class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Access Token</th>
                    <th>Refresh Token</th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${usermldata}">
                <td th:text="${user.username}">Username</td>
                <td th:text="${user.mlAccessToken}">Access Token</td>
                <td th:text="${user.mlRefreshToken}">Refresh Token</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:unless="${usermldata} != null and !${#lists.isEmpty(usermldata)}">
        No data
    </div>
</div>

<div th:fragment="pre-listing">

    <!-- <img id="test-history-loading" src="../../img/loading.gif" alt="Loading..."
         style="display: none; margin-left: auto; margin-right: auto"/> -->

    <div th:if="${products} != null and !${#lists.isEmpty(products)}" id="pre-listing" class="table-responsive">

        <div th:each="product : ${products}" >
            <table class="table table-striped">
                <tr style="background-color:#D0D0D0;">
                    <td><img th:src="${product.thumbnail}" style="width:80px;height:80px;"/></td>
                    <td th:text="${product.sku}" style="font-weight:bold;padding-top:30px;">SKU</td>
                    <td th:text="${product.title}" style="padding-top:30px;">Title</td>
                </tr>
            </table>
            <table class="table table-striped content-table">
                <thead>
                    <tr>
                        <th>T&iacute;tulo</th>
                        <th>Tipo de an&uacute;ncio</th>
                        <th>Frete</th>
                        <th>Custo</th>
                        <th>Pre&ccedil;o sugerido</th>
                        <th>Pre&ccedil;o</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:id="${product.sku}" class="item" th:each="title,iter : ${product.titles}">
                        <td style="padding-top:20px;"><input th:id="'title_' + ${product.sku} + '-' + ${iter.index}" th:value="${title}" type="text" class="form-control title"/></td>
                        <td style="padding-left:30px;">
                            <label label-default="" class="radio">
                                <input th:name="'radio-' + ${product.sku} + '-' + ${iter.index}" value="gold_special" checked="checked" type="radio" class="type"/>
                                Cl&aacute;ssico
                            </label>
                            <label label-default="" class="radio">
                                <input th:name="'radio-' + ${product.sku} + '-' + ${iter.index}" value="gold_pro" type="radio" class="type"/>
                                Premium
                            </label>
                        </td>
                        <td style="padding-top:30px;"><label><input type="checkbox" class="freeshipping-cb" th:id="'freeshipping-' + ${product.sku} + '-' + ${iter.index}" th:onclick="'freeShipping(\'' + ${product.sku} + '\',\'' + ${product.freeShipping} + '\',\'' + ${iter.index} + '\');'"/> Frete gr&aacute;tis</label></td>
                        <td th:text="${product.cost}" style="padding-top:30px;">COST</td>
                        <td th:text="${product.suggestedPrice}" th:id="'sprice-' + ${product.sku} + '-' + ${iter.index}" type="text" style="padding-top:30px;">SUG_PRICE</td>
                        <td style="padding-top:20px;"><input th:id="'price-' + ${product.sku} + '-' +  ${iter.index}" type="text" class="form-control price" name="price"/></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div th:unless="${products} != null and !${#lists.isEmpty(products)}">
        Nenhum produto foi encontrado
    </div>

</div>

</html>