<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Envia pra mim</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
<body>
    <div th:include="../fragments/common::header"></div>
    <div class="container">
        <h1>Bem-vindo ao Envia Pra Mim v0.1</h1><br/>
        <p>Para utilizar o sistema clique em "Entrar" no campo superior direito.</p>
        <p>Caso o sistema n&atilde;o pe&ccedil;a usu&aacute;rio e senha do Mercado Livre quando vc logar, ele ir&aacute; anunciar na conta que j&aacute; estiver logada no Mercado Livre no seu navegador.</p>
        <p>Por enquanto, use um navegador diferente para cada conta que deseja anunciar.</p>
        <p>Para anunciar produtos clique em "Consultar produtos", selecione os produtos que deseja anunciar e clique em "Anunciar Selecionados".</p>
        <p>N&atilde;o erre no cadastro, ainda n&atilde;o temos a tela de alteração, se errar ter&aacute; que deletar o produto e cadastrar tudo novamente.</p>

        <br/><br/>
        <h3>Pe&ccedil;a as melhorias que deseja no sistema, devagarzinho vamos melhorando =) !!!</h3>
    </div>

</body>
</html>
