<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Produtos</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div th:include="../fragments/common::header"></div>
<div class="container">
    <div th:include="../fragments/tables :: pre-listing"></div>
    <button class="btn btn-primary" id="list-selected" onclick="listProducts();">Anunciar</button>
</div>

</body>
<script th:inline="javascript">

    var products = [[${products}]];
    var productsToList = [];

    function freeShipping(sku, freeShippingStr, index) {
        var freeShippingCheckBox = "#freeshipping-" + sku + "-" + index;
        var isFreeShipping = $(freeShippingCheckBox).is(":checked");
        var suggestedPriceId = "#sprice-" + sku + "-" + index;
        var sugPriceStr = $(suggestedPriceId).html();
        var sugPriceF = parseFloat(sugPriceStr);
        var freeShippingF = parseFloat(freeShippingStr);
        if (isFreeShipping) {
            sugPriceF += freeShippingF;
        } else {
            sugPriceF -= freeShippingF;
        }
        sugPriceF = Number(sugPriceF.toFixed(2));
        $(suggestedPriceId).html(sugPriceF);
    }

    function listProducts() {
        /*var productsToList = [];
        for (var i = 0; products.length > i; i++) {
            var productInfo = {};
            productInfo.sku = products[i].sku;
            prinfoInfo.info = [];
            for (var j = 0; products.titles.length > j; j++) {
                var info = {};
                th:id="'title_' + ${product.sku} + '-' + ${iter.index}"
                var titleId = "#title_" + products[i].sku + "-" + j;
                var radioName = "#radio_" + products[i].sku + "-" + j;
                productInfo.titles = [];
            }
        }*/

        productsToList = [];
        $("tr.item").each(function() {
            var productInfo = {};
            productInfo.sku = $(this).attr("id");
            productInfo.title = $(this).find("input.title").val();
            productInfo.price = $(this).find("input.price").val();
            productInfo.freeShipping = $(this).find("input.freeshipping-cb").is(':checked');
            productInfo.type = $(this).find("input.type:checked").val();
            productsToList[productsToList.length] = productInfo;
            console.log("******************************");
            console.log(productInfo.sku);
            console.log(productInfo.title);
            console.log(productInfo.price);
            console.log(productInfo.type);
            console.log("******************************");
        });
        var finalObj = {};
        finalObj.productsToList = productsToList;
        var jsonData = JSON.stringify(finalObj);
        $.ajax({
            url: "/listProducts2",
            data: jsonData,
            contentType: "application/json",
            dataType: 'json',
            method: "post",
            success: function(response) {
                alert("Produtos anunciados com Sucesso!");
            },
            error: function(xhr) {
                alert("Erro ao anunciar produtos!");
            }
        });
    }

</script>
</html>
