<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Produtos</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div th:include="../fragments/common::header"></div>
<div class="container">
    <div th:include="../fragments/dialogs :: confirm-listing"></div>
    <div th:include="../fragments/dialogs :: loading"></div>
    <div th:include="../fragments/tables :: pre-listing"></div>


</div>

</body>
<script th:inline="javascript">

    var products = [[${products}]];
    var productsToList = [];

    function freeShipping(sku, freeShippingStr, index) {
        var name = "radio-" + sku + "-" + index;
        var inputId = "input[name='" + name + "']:checked";
        var type = $(inputId).val();
        setSugPrice(sku, freeShippingStr, index, type);
    }

    function goldPro(sku, freeShippingStr, index) { // premium
        setSugPrice(sku, freeShippingStr, index, "gold_pro");
    }

    function goldSpecial(sku, freeShippingStr, index) { // classico
        setSugPrice(sku, freeShippingStr, index, "gold_special");
    }

    function setSugPrice(sku, freeShippingStr, index, type) {
        var freeShippingCheckBox = "#freeshipping-" + sku + "-" + index;
        var isFreeShipping = $(freeShippingCheckBox).is(":checked");
        var costId = "#cost-" + sku + "-" + index;
        var costStr = $(costId).html();
        var costF = parseFloat(costStr);
        var suggestedPriceId = "#sprice-" + sku + "-" + index;

        var freeShippingF = parseFloat(freeShippingStr);
        var typeMult = 1;
        if(type == "gold_special") {
            typeMult = 1.11;
        } else if (type == "gold_pro") {
            typeMult = 1.16;
        }
        var shippingCostF = 0;
        if (isFreeShipping) {
            shippingCostF = freeShippingF;
        }
        var sugPriceF = ((costF * 1.8) + shippingCostF) * typeMult;

        sugPriceF = Number(sugPriceF.toFixed(2));
        $(suggestedPriceId).html(sugPriceF);
    }

    function confirm() {

        $.ajax({
            url: "/confirmListProducts",
            method: "get",
            success: function(response) {
                if (response.mluser == null) {
                    alert("Login in the system.");
                } else {
                    $("#ml-user").html(response.mluser);
                    $("#confirm-listing-modal").modal('show');
                }
            },
            error: function(xhr) {
                alert(xhr.responseText);
            }
        });
    }

    function listProducts() {

        productsToList = [];
        $("tr.item").each(function() {
            var productInfo = {};
            productInfo.sku = $(this).attr("id");
            productInfo.title = $(this).find("input.title").val();
            productInfo.price = $(this).find("input.price").val();
            productInfo.freeShipping = $(this).find("input.freeshipping-cb").is(':checked');
            productInfo.type = $(this).find("input.type:checked").val();
            productsToList[productsToList.length] = productInfo;
        });
        var finalObj = {};
        finalObj.productsToList = productsToList;
        var jsonData = JSON.stringify(finalObj);

        $("#loading-modal").modal('show');
        $.ajax({
            url: "/listProducts2",
            data: jsonData,
            contentType: "application/json",
            dataType: 'json',
            method: "post",
            success: function(response) {
                $("#loading-modal").modal('hide');
                alert("Produtos anunciados com sucesso");
            },
            error: function(xhr) {
                $("#loading-modal").modal('hide');
                alert(xhr.responseText);
            }
        });

    }

</script>
</html>
