<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Produtos</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        #products-table > table > tbody > tr.active td {
            background-color:#D0D0D0;
        }
    </style>
</head>
<body>

<div th:include="../fragments/common::header"></div>
<div class="container">
    <div th:include="../fragments/dialogs :: confirm-delete"></div>
    <div th:include="../fragments/tables :: products" id="products"></div>
    <button class="btn btn-primary" id="list-selected" onclick="listSelected();">Anunciar Selecionados</button>
</div>

</body>
<script th:inline="javascript">

    var products = [[${products}]];

    $('#products-table-content').on('click', '.clickable-row', function(event) {

        if ($(this).hasClass('active')) {
            $(this).removeClass('active');
        } else {
            $(this).addClass('active');
        }

    });

/*
    $('#confirm-delete-btn').on('click', function() {
        var id = $(this).attr('id');
        var sku = id.split(_)[1];
        deleteNow(sku);
        $('#confirm-delete').modal('show');
    });
*/
    function listSelected() {
        var i = 0;
        var added = 0;
        var skuArray = "?";
        $('#products-table-content > tbody  > tr').each(function() {
            if ($(this).hasClass('active')) {
                var parameter = "&amp;skus[]=";
                parameter += products[i].sku;
                skuArray += parameter;
                added++;
            }
            i++;
        });
        if (added != 0) {
            var href = "/listProducts" + skuArray;
            href = href.replace(/amp;/g, '');
            window.location.href = href;
        }
    }

    function selectAll(checkAll) {
        $('#products-table-content > tbody  > tr').each(function() {
            if (checkAll) {
                $(this).addClass('active');
            } else {
                $(this).removeClass('active');
            }
        });
    }

    $('#select-all').change(function() {
        selectAll($(this).is(":checked"));
    });

    //triggered when modal is about to be shown
    $('#confirm-delete').on('show.bs.modal', function(e) {
        var sku = $(e.relatedTarget).data('sku');
        $('#modal-sku').html(sku);
    });

    $('#confirm-delete-btn').click(function(e) {
        var sku = $('#modal-sku').html();
        deleteNow1(sku);
    });

    function deleteNow1(sku) {
        var btId = '#delete_' + sku;
        var tr = $(btId).parent().parent();
        $.ajax({
            url: "/delete",
            data: {sku: sku},
            success: function(response) {
                alert("Produto deletado com Sucesso!");
                tr.fadeOut(1000,function(){
                    tr.remove();
                });
            },
            error: function(xhr) {
                alert("Erro ao deletar!");
            }
        });
    }

    function updateNow(sku) {
        var updateData = "sku=" + sku;
        var titleId = '#title_' + sku;
        updateData = updateData.concat("&amp;title=", $(titleId).val());
        var descriptionId = '#description_' + sku;
        updateData = updateData.concat('&amp;description=', $(descriptionId).val());
        var costId = '#cost_' + sku;
        updateData = updateData.concat('&amp;cost=', $(costId).val());
        var quantityId = '#quantity_' + sku;
        updateData = updateData.concat('&amp;quantity=', $(quantityId).val());
        updateData = updateData.replace(/amp;/g, '');
        $.ajax({
            url: "/update",
            data: updateData,
            method: "post",
            success: function(response) {
                alert("Produto alterado com Sucesso!");
            },
            error: function(xhr) {
                alert("Erro ao alterar produto!");
            }
        });
    }

</script>
</html>