<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Produtos</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div th:include="../fragments/common::header"></div>
<div class="container">
    <div th:include="../fragments/tables :: products" id="products"></div>
</div>

</body>
<script>

        function deleteNow(sku) {
            var btId = '#delete_' + sku;
            var tr = $(btId).parent().parent();
            $.ajax({
                url: "/delete",
                data: {"sku": sku},
                success: function(response) {
                    alert("Produto deletado com Sucesso!");
                    tr.fadeOut(1000,function(){
                        tr.remove();
                    });
                },
                error: function(xhr) {
                    alert("Erro ao deletar!");
                }
            });
        }

        function updateNow(sku) {
            var updateData = "sku=" + sku;
            var titleId = '#title_' + sku;
            updateData = updateData.concat("&amp;title=", $(titleId).val());
            var descriptionId = '#description_' + sku;
            updateData = updateData.concat('&amp;description=', $(descriptionId).val());
            var costId = '#cost_' + sku;
            updateData = updateData.concat('&amp;cost=', $(costId).val());
            var quantityId = '#quantity_' + sku;
            updateData = updateData.concat('&amp;quantity=', $(quantityId).val());
            updateData = updateData.replace(/amp;/g, '');
            $.ajax({
                url: "/update",
                data: updateData,
                method: "post",
                success: function(response) {
                    alert("Produto alterado com Sucesso!");
                },
                error: function(xhr) {
                    alert("Erro ao alterar produto!");
                }
            });
        }

</script>
</html>