<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cadastro de produtos</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<script th:inline="javascript">

    var titlesIndex = 0;
    var imagesIndex = 0;
    var my_max_images = 6;

    function addTitle() {
        titlesIndex++;
        var newInput = '<input type="text" class="form-control" name="titles[' + titlesIndex + ']"/>';
        $('#titles-wrap').append(newInput);
    }

    function removeTitle() {
        if (titlesIndex > 0) {
            $('#titles-wrap').children().last().remove();
            titlesIndex--;
        }
    }

    function addImage() {
        if ((my_max_images - 1) > imagesIndex) {
            imagesIndex++;
            var newInput = '<input type="file" name="images[' + imagesIndex + ']"/>';
            $('#images-wrap').append(newInput);
        }
    }

    function removeImage() {
        if (imagesIndex > 0) {
            $('#images-wrap').children().last().remove();
            imagesIndex--;
        }
    }

</script>
<body>

    <div th:include="../fragments/common::header"></div>
    <div class="container">
        <form id="registerForm" action="#" th:action="@{/register}" th:object="${product}" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-3 col-xl-2">
                    <label>SKU</label><br/>
                    <input type="text" class="form-control" name="sku"/>
                    <label>T&iacute;tulo</label><br/>
                    <input type="text" class="form-control" name="title"/>
                    <!-- input type="text" class="form-control" name="description"/> -->
                    <label>Custo</label><br/>
                    <input type="text" class="form-control" name="cost"/>
                    <label>Quantidade</label><br/>
                    <input type="text" class="form-control" name="quantity"/>
                    <label>Descri&ccedil;&atilde;o</label><br/>
                    <textarea class="form-control" rows="5" name="description"></textarea>
                    <br/>
                </div>

                <div class="col-sm-12 col-md-4 col-lg-4 col-xl-2">
                    <label>T&iacute;tulos Mercado Livre</label><br/>
                    <div id="titles-wrap">
                        <input type="text" class="form-control" name="titles[0]"/>
                    </div>
                    <br/>
                    <button type="button" class="btn btn-primary" id="add-title" onclick="addTitle();">Adicionar T&iacute;tulo</button>
                    <button type="button" class="btn btn-danger" id="remove-title" onclick="removeTitle();">Remover T&iacute;tulo</button>
                </div>

                <div class="col-sm-12 col-md-4 col-lg-4 col-xl-2">
                    <label>Imagens:</label><br/>
                    <div id="images-wrap">
                        <input type="file" name="images[0]"/>
                    </div>
                    <br/>
                    <button type="button" class="btn btn-primary" id="add-image" onclick="addImage();">Adicionar Imagem</button>
                    <button type="button" class="btn btn-danger" id="remove-image" onclick="removeImage();">Remover Imagem</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-3 col-xl-2">
                    <button class="btn btn-primary" type="submit">Cadastrar</button>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <br/>
                <p th:text="${response}"></p>
            </div>
        </div>
    </div>

</body>

</html>
